extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | Регистрация

block main
  .wrapper
    .content
        include includes/header

        
        .form 
          .title Зарегистрироваться
          .container 
            form 
              .form__inner 
                .form__col 
                  p Заполните все поля для регистрации
                  .input-wrap
                    .input-wrap__col.input-wrap__col_half
                      .input
                        label(for='name')
                          | Имя
                          span.required *
                        input#name(type='text' placeholder='Имя' name='name' value='Акмаль' required='')

                    .input-wrap__col.input-wrap__col_half
                      .input
                        label(for='surname')
                          | Фамилия
                          span.required *
                        input#surname(type='text' placeholder='Фамилия' name='surname' value='Курбанов' required='')

                    .input-wrap__col.input-wrap__col_half
                      .input.input_phone
                        label(for='phone') Номер телефона
                        input.phone-js(name="phone" type="tel")
                        .output-success Номер действительный! 
                        .output-error Неверный номер. Повторите попытку.

                    .input-wrap__col.input-wrap__col_half
                      .input
                        label(for='email')
                          | Email 
                          span.required *
                        input#email(type='text' placeholder='Email' name='email' value='250296a@gmail.com' required='')

                    .input-wrap__col.input-wrap__col_half
                      .select.select-id.select-inn-js
                        .select__label Страна проживания
                          span * 
                        input(type='hidden' value="kg-inn")
                        .select__wrap
                          .select__selected
                            .select-country-js
                              //- .select__selected-img.selected-img-js.d-flex.align-center.justify-center
                                //- img(src="images/dist/"+img+".svg", alt="")

                              span Выберите страну
                            .icon
                              svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M5 7.5L10 12.5L15 7.5' stroke='#A8AAAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

                          .select__dropdown
                            mixin country(img,id,text,inn,label)
                              .select__option(data-id=id data-inn=inn data-text=text data-label=label) 
                                .select-img-js.icon
                                  img(src="images/dist/"+img+".svg", alt="" loading="lazy" decoding="async")
                                .fz-15=text
                            +country('kg','kg-inn','Кыргызстан',14, 'ИНН')
                            +country('kz','kz-inn','Казахстан',12, 'ИИН')
                            +country('uz','uz-inn','Узбекистан',9, 'ИНН')
                            +country('au','au-inn','Австрия')
                            +country('be','be-inn','Бельгия')
                            +country('bg','bg-inn','Болгария')
                            +country('hu','hu-inn','Венгерия')
                            +country('ge','ge-inn','Германия')
                            +country('gr','gr-inn','Греция')
                            +country('dk','dk-inn','Дания')
                            +country('ie','ie-inn','Ирландия')
                            +country('es','es-inn','Испания')
                            +country('it','it-inn','Италия')
                            +country('cy','cy-inn','Кипр')
                            +country('lv','lv-inn','Латвия')
                            +country('lt','lt-inn','Литва')
                            +country('lu','lu-inn','Люксембург')
                            +country('mt','mt-inn','Мальта')
                            +country('nl','nl-inn','Нидерланды')
                            +country('pl','pl-inn','Польша')
                            +country('pt','pt-inn','Португалия')
                            +country('ro','ro-inn','Румыния')
                            +country('sk','sk-inn','Словакия')
                            +country('sl','sl-inn','Словения')
                            +country('fi','fi-inn','Финляндия')
                            +country('fr','fr-inn','Франция')
                            +country('hr','hr-inn','Хорватия')
                            +country('cz','cz-inn','Чехия')
                            +country('se','se-inn','Швеция')
                            +country('ee','ee-inn','Эстония')    

                    .input-wrap__col.input-wrap__col_half
                      .input-wrap-inn-input
                        .input
                          label(for='inn') ИНН
                            span.text-red * 
                          input#inn(type='text')
                        
                        
                    
                    
                    .input-wrap__col.input-wrap__col_half
                      .input.input_pass
                        label(for='pass')
                          | Пароль (от 6 знаков)
                          span.required *
                        input#pass(type='password' placeholder='***********' name='pass' required='')
                        
                        .input__pass-icon.icon.open
                          svg(width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='12.5' cy='12' r='2' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            circle(cx='12.5' cy='12' r='2' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M22.5 12C19.833 16.667 16.5 19 12.5 19C8.5 19 5.167 16.667 2.5 12C5.167 7.333 8.5 5 12.5 5C16.5 5 19.833 7.333 22.5 12' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M22.5 12C19.833 16.667 16.5 19 12.5 19C8.5 19 5.167 16.667 2.5 12C5.167 7.333 8.5 5 12.5 5C16.5 5 19.833 7.333 22.5 12' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

                        .input__pass-icon.icon.close
                          svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M3 3L21 21' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M3 3L21 21' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M10.5845 10.587C9.80297 11.3679 9.80252 12.6345 10.5835 13.416C11.3644 14.1975 12.631 14.1979 13.4125 13.417' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M10.5845 10.587C9.80297 11.3679 9.80252 12.6345 10.5835 13.416C11.3644 14.1975 12.631 14.1979 13.4125 13.417' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M9.15676 4.64392C8.75852 4.75784 8.52804 5.17303 8.64196 5.57127C8.75588 5.96951 9.17107 6.2 9.56931 6.08607L9.15676 4.64392ZM12 5L11.9974 5.75H12V5ZM22 12L22.6512 12.3722C22.783 12.1416 22.783 11.8585 22.6512 11.6279L22 12ZM18.9463 14.9789C18.6651 15.2831 18.6838 15.7576 18.988 16.0388C19.2922 16.3199 19.7667 16.3012 20.0478 15.9971L18.9463 14.9789ZM17.7764 17.9708C18.1198 17.7392 18.2104 17.273 17.9788 16.9296C17.7472 16.5862 17.281 16.4956 16.9376 16.7272L17.7764 17.9708ZM2 12L1.34887 11.6278C1.21706 11.8584 1.21704 12.1415 1.34883 12.3721L2 12ZM7.05301 7.27968C7.39581 7.04716 7.4852 6.58078 7.25268 6.23799C7.02017 5.89519 6.55378 5.80579 6.21099 6.03831L7.05301 7.27968ZM9.56931 6.08607C10.3588 5.86023 11.1762 5.74708 11.9974 5.74999L12.0027 4.25C11.0402 4.24659 10.0821 4.37921 9.15676 4.64392L9.56931 6.08607ZM12 5.75C15.64 5.75 18.7632 7.84743 21.3489 12.3721L22.6512 11.6279C19.9029 6.81857 16.36 4.25 12 4.25V5.75ZM21.3489 11.6278C20.5937 12.949 19.792 14.0639 18.9463 14.9789L20.0478 15.9971C20.9841 14.9841 21.8504 13.773 22.6512 12.3722L21.3489 11.6278ZM16.9376 16.7272C15.4284 17.7451 13.79 18.25 12 18.25V19.75C14.094 19.75 16.0236 19.1529 17.7764 17.9708L16.9376 16.7272ZM12 18.25C8.36001 18.25 5.23685 16.1526 2.65117 11.6279L1.34883 12.3721C4.09715 17.1814 7.63999 19.75 12 19.75V18.25ZM2.65113 12.3722C3.98114 10.0454 5.45439 8.36403 7.05301 7.27968L6.21099 6.03831C4.37161 7.28597 2.75686 9.16458 1.34887 11.6278L2.65113 12.3722Z' fill='#B0B0B0')
                            path(d='M9.15676 4.64392C8.75852 4.75784 8.52804 5.17303 8.64196 5.57127C8.75588 5.96951 9.17107 6.2 9.56931 6.08607L9.15676 4.64392ZM12 5L11.9974 5.75H12V5ZM22 12L22.6512 12.3722C22.783 12.1416 22.783 11.8585 22.6512 11.6279L22 12ZM18.9463 14.9789C18.6651 15.2831 18.6838 15.7576 18.988 16.0388C19.2922 16.3199 19.7667 16.3012 20.0478 15.9971L18.9463 14.9789ZM17.7764 17.9708C18.1198 17.7392 18.2104 17.273 17.9788 16.9296C17.7472 16.5862 17.281 16.4956 16.9376 16.7272L17.7764 17.9708ZM2 12L1.34887 11.6278C1.21706 11.8584 1.21704 12.1415 1.34883 12.3721L2 12ZM7.05301 7.27968C7.39581 7.04716 7.4852 6.58078 7.25268 6.23799C7.02017 5.89519 6.55378 5.80579 6.21099 6.03831L7.05301 7.27968ZM9.56931 6.08607C10.3588 5.86023 11.1762 5.74708 11.9974 5.74999L12.0027 4.25C11.0402 4.24659 10.0821 4.37921 9.15676 4.64392L9.56931 6.08607ZM12 5.75C15.64 5.75 18.7632 7.84743 21.3489 12.3721L22.6512 11.6279C19.9029 6.81857 16.36 4.25 12 4.25V5.75ZM21.3489 11.6278C20.5937 12.949 19.792 14.0639 18.9463 14.9789L20.0478 15.9971C20.9841 14.9841 21.8504 13.773 22.6512 12.3722L21.3489 11.6278ZM16.9376 16.7272C15.4284 17.7451 13.79 18.25 12 18.25V19.75C14.094 19.75 16.0236 19.1529 17.7764 17.9708L16.9376 16.7272ZM12 18.25C8.36001 18.25 5.23685 16.1526 2.65117 11.6279L1.34883 12.3721C4.09715 17.1814 7.63999 19.75 12 19.75V18.25ZM2.65113 12.3722C3.98114 10.0454 5.45439 8.36403 7.05301 7.27968L6.21099 6.03831C4.37161 7.28597 2.75686 9.16458 1.34887 11.6278L2.65113 12.3722Z' fill='#B0B0B0')

                    .input-wrap__col.input-wrap__col_half
                      .input.input_pass
                        label(for='pass-rpd')
                          | Пароль (от 6 знаков)
                          span.required *
                        input#pass-rpd(type='password' placeholder='***********' name='pass-rpd' required='')
                        
                        .input__pass-icon.icon.open
                          svg(width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='12.5' cy='12' r='2' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            circle(cx='12.5' cy='12' r='2' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M22.5 12C19.833 16.667 16.5 19 12.5 19C8.5 19 5.167 16.667 2.5 12C5.167 7.333 8.5 5 12.5 5C16.5 5 19.833 7.333 22.5 12' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M22.5 12C19.833 16.667 16.5 19 12.5 19C8.5 19 5.167 16.667 2.5 12C5.167 7.333 8.5 5 12.5 5C16.5 5 19.833 7.333 22.5 12' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

                        .input__pass-icon.icon.close
                          svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M3 3L21 21' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M3 3L21 21' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M10.5845 10.587C9.80297 11.3679 9.80252 12.6345 10.5835 13.416C11.3644 14.1975 12.631 14.1979 13.4125 13.417' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M10.5845 10.587C9.80297 11.3679 9.80252 12.6345 10.5835 13.416C11.3644 14.1975 12.631 14.1979 13.4125 13.417' stroke='#B0B0B0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M9.15676 4.64392C8.75852 4.75784 8.52804 5.17303 8.64196 5.57127C8.75588 5.96951 9.17107 6.2 9.56931 6.08607L9.15676 4.64392ZM12 5L11.9974 5.75H12V5ZM22 12L22.6512 12.3722C22.783 12.1416 22.783 11.8585 22.6512 11.6279L22 12ZM18.9463 14.9789C18.6651 15.2831 18.6838 15.7576 18.988 16.0388C19.2922 16.3199 19.7667 16.3012 20.0478 15.9971L18.9463 14.9789ZM17.7764 17.9708C18.1198 17.7392 18.2104 17.273 17.9788 16.9296C17.7472 16.5862 17.281 16.4956 16.9376 16.7272L17.7764 17.9708ZM2 12L1.34887 11.6278C1.21706 11.8584 1.21704 12.1415 1.34883 12.3721L2 12ZM7.05301 7.27968C7.39581 7.04716 7.4852 6.58078 7.25268 6.23799C7.02017 5.89519 6.55378 5.80579 6.21099 6.03831L7.05301 7.27968ZM9.56931 6.08607C10.3588 5.86023 11.1762 5.74708 11.9974 5.74999L12.0027 4.25C11.0402 4.24659 10.0821 4.37921 9.15676 4.64392L9.56931 6.08607ZM12 5.75C15.64 5.75 18.7632 7.84743 21.3489 12.3721L22.6512 11.6279C19.9029 6.81857 16.36 4.25 12 4.25V5.75ZM21.3489 11.6278C20.5937 12.949 19.792 14.0639 18.9463 14.9789L20.0478 15.9971C20.9841 14.9841 21.8504 13.773 22.6512 12.3722L21.3489 11.6278ZM16.9376 16.7272C15.4284 17.7451 13.79 18.25 12 18.25V19.75C14.094 19.75 16.0236 19.1529 17.7764 17.9708L16.9376 16.7272ZM12 18.25C8.36001 18.25 5.23685 16.1526 2.65117 11.6279L1.34883 12.3721C4.09715 17.1814 7.63999 19.75 12 19.75V18.25ZM2.65113 12.3722C3.98114 10.0454 5.45439 8.36403 7.05301 7.27968L6.21099 6.03831C4.37161 7.28597 2.75686 9.16458 1.34887 11.6278L2.65113 12.3722Z' fill='#B0B0B0')
                            path(d='M9.15676 4.64392C8.75852 4.75784 8.52804 5.17303 8.64196 5.57127C8.75588 5.96951 9.17107 6.2 9.56931 6.08607L9.15676 4.64392ZM12 5L11.9974 5.75H12V5ZM22 12L22.6512 12.3722C22.783 12.1416 22.783 11.8585 22.6512 11.6279L22 12ZM18.9463 14.9789C18.6651 15.2831 18.6838 15.7576 18.988 16.0388C19.2922 16.3199 19.7667 16.3012 20.0478 15.9971L18.9463 14.9789ZM17.7764 17.9708C18.1198 17.7392 18.2104 17.273 17.9788 16.9296C17.7472 16.5862 17.281 16.4956 16.9376 16.7272L17.7764 17.9708ZM2 12L1.34887 11.6278C1.21706 11.8584 1.21704 12.1415 1.34883 12.3721L2 12ZM7.05301 7.27968C7.39581 7.04716 7.4852 6.58078 7.25268 6.23799C7.02017 5.89519 6.55378 5.80579 6.21099 6.03831L7.05301 7.27968ZM9.56931 6.08607C10.3588 5.86023 11.1762 5.74708 11.9974 5.74999L12.0027 4.25C11.0402 4.24659 10.0821 4.37921 9.15676 4.64392L9.56931 6.08607ZM12 5.75C15.64 5.75 18.7632 7.84743 21.3489 12.3721L22.6512 11.6279C19.9029 6.81857 16.36 4.25 12 4.25V5.75ZM21.3489 11.6278C20.5937 12.949 19.792 14.0639 18.9463 14.9789L20.0478 15.9971C20.9841 14.9841 21.8504 13.773 22.6512 12.3722L21.3489 11.6278ZM16.9376 16.7272C15.4284 17.7451 13.79 18.25 12 18.25V19.75C14.094 19.75 16.0236 19.1529 17.7764 17.9708L16.9376 16.7272ZM12 18.25C8.36001 18.25 5.23685 16.1526 2.65117 11.6279L1.34883 12.3721C4.09715 17.1814 7.63999 19.75 12 19.75V18.25ZM2.65113 12.3722C3.98114 10.0454 5.45439 8.36403 7.05301 7.27968L6.21099 6.03831C4.37161 7.28597 2.75686 9.16458 1.34887 11.6278L2.65113 12.3722Z' fill='#B0B0B0')

                  .form__agree Регистрируясь, вы соглашаетесь с условиями 
                    a(href="#") Публичной оферты и Условиями предоставления услуг Alay Express
                  
                  
                .form__col 
                  .form__bg
                    svg(xmlns='http://www.w3.org/2000/svg', width='100', viewBox='0 0 420 323', fill='none')
                      path(d='M291.785 136.705L313.543 0H349.277L327.518 136.705H291.785Z', fill='url(#paint0_linear_179_983)')
                      path(d='M127.139 136.705L212.989 0H241.348L283.5 136.705H249.314L242.122 108.982H180.549L164.237 136.705H127.139ZM222.898 37.2363L196.678 81.6381H234.945L223.292 37.2363H222.898Z', fill='url(#paint1_linear_179_983)')
                      path(d='M0 136.705L21.7586 0H80.6007C96.2748 0 108.247 3.48428 116.531 10.468C124.952 17.3153 129.155 26.8138 129.155 38.9785C129.155 51.9006 125.726 62.0504 118.868 69.428C112.131 76.6692 103.27 81.4563 92.2538 83.7741C96.0016 85.1981 99.188 87.5159 101.768 90.7578C104.362 93.8634 106.562 97.6809 108.368 102.195L121.569 136.705H85.0617L69.5242 95.5904C68.2345 91.9698 66.4743 89.455 64.2742 88.031C62.1955 86.4858 59.2822 85.6981 55.5344 85.6981H43.8813L35.718 136.69H0V136.705ZM47.7808 60.5052H73.6058C87.9749 60.5052 95.1671 54.4305 95.1671 42.2809C95.1671 37.2363 93.4829 33.4945 90.1144 31.0404C86.8825 28.5862 81.6932 27.3591 74.5769 27.3591H53.0156L47.7656 60.5204L47.7808 60.5052Z', fill='url(#paint2_linear_179_983)')
                      path(d='M420 185.674H376.498L340.188 229.5C347.547 242.452 353.526 253.011 353.526 253.011L333.816 277.219L333.77 277.598L359.792 322.379H399.213L358.852 252.966L420 185.674Z', fill='url(#paint3_linear_179_983)')
                      path(d='M0 322.379L21.7586 185.674H70.3132C93.3615 185.674 111.099 190.976 123.526 201.58C136.09 212.185 142.371 226.849 142.371 245.603C142.508 260.207 139.519 273.326 133.434 284.96C127.35 296.595 118.352 305.775 106.441 312.501C94.6664 319.091 80.1607 322.394 62.939 322.394H0.0151881L0 322.379ZM40.2093 293.489H63.3183C77.1715 293.489 87.5956 289.217 94.5905 280.688C101.707 272.16 105.273 260.646 105.273 246.179C105.273 235.968 102.359 228.152 96.5327 222.713C90.7061 217.275 81.9663 214.563 70.3132 214.563H52.8335L40.2093 293.489Z', fill='url(#paint4_linear_179_983)')
                      path(d='M307.732 185.674H268.888L301.116 239.195H191.914L195.996 213.215H258.722L263.001 185.674H166.286L144.725 322.379H241.258L245.536 294.838H182.992L187.453 266.721H295.472L246.159 322.379H289.463L345.923 252.996C345.923 252.996 316.001 200.277 307.717 185.674L307.732 185.674Z', fill='url(#paint5_linear_179_983)')
                      defs
                        linearGradient#paint0_linear_179_983(x1='320.531', y1='136.705', x2='320.531', y2='0', gradientUnits='userSpaceOnUse')
                          stop
                          stop(offset='1', stop-color='#292929')
                        linearGradient#paint1_linear_179_983(x1='205.319', y1='136.705', x2='205.319', y2='0', gradientUnits='userSpaceOnUse')
                          stop
                          stop(offset='1', stop-color='#292929')
                        linearGradient#paint2_linear_179_983(x1='64.5777', y1='136.705', x2='64.5777', y2='0', gradientUnits='userSpaceOnUse')
                          stop
                          stop(offset='1', stop-color='#292929')
                        linearGradient#paint3_linear_179_983(x1='376.885', y1='322.379', x2='376.885', y2='185.674', gradientUnits='userSpaceOnUse')
                          stop
                          stop(offset='1', stop-color='#292929')
                        linearGradient#paint4_linear_179_983(x1='71.1879', y1='322.394', x2='71.1879', y2='185.674', gradientUnits='userSpaceOnUse')
                          stop
                          stop(offset='1', stop-color='#292929')
                        linearGradient#paint5_linear_179_983(x1='245.324', y1='185.674', x2='245.324', y2='322.379', gradientUnits='userSpaceOnUse')
                          stop(stop-color='#CE244B')
                          stop(offset='1', stop-color='#450305')
                  
                  .sm-show
                    button.btn.btn_accent Зарегистрироваться
                    br
                  p Или войдите через соцсети

                  a(href="#").btn.btn_white.btn_icon 
                    .icon
                      svg(xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none')
                        path(d='M20.4955 8.84565H19.6619V8.8H10.3484V13.2H16.1968C15.3435 15.7613 13.0509 17.6 10.3484 17.6C6.91944 17.6 4.13935 14.6448 4.13935 11C4.13935 7.35515 6.91944 4.4 10.3484 4.4C11.9312 4.4 13.3711 5.0347 14.4675 6.07145L17.3946 2.9601C15.5464 1.12915 13.0741 0 10.3484 0C4.63348 0 0 4.92525 0 11C0 17.0747 4.63348 22 10.3484 22C16.0633 22 20.6967 17.0747 20.6967 11C20.6967 10.2625 20.6253 9.5425 20.4955 8.84565Z' fill='#FFC107')
                        path(d='M10.3484 22C13.0214 22 15.4501 20.9126 17.2865 19.1444L14.0836 16.2635C13.0097 17.1316 11.6975 17.6011 10.3484 17.6C7.65677 17.6 5.37133 15.7756 4.51035 13.2297L1.13574 15.9934C2.8484 19.5558 6.32649 22 10.3484 22Z' fill='#4CAF50')
                        path(d='M20.4957 8.84585H19.6622V8.8002H10.3486V13.2002H16.197C15.7889 14.4192 15.0537 15.4844 14.0823 16.2643L14.0839 16.2632L17.2867 19.144C17.0601 19.363 20.697 16.5002 20.697 11.0002C20.697 10.2627 20.6256 9.5427 20.4957 8.84585Z' fill='#1976D2')
                        path(d='M1.19336 5.88005L4.59332 8.5305C5.51329 6.1094 7.74129 4.4 10.3486 4.4C11.9314 4.4 13.3713 5.0347 14.4677 6.07145L17.3948 2.9601C15.5466 1.12915 13.0743 0 10.3486 0C6.37376 0 2.92671 2.38535 1.19336 5.88005Z' fill='#FF3D00')
                    | Зарегистрироваться через Google
              
              .form__btn-control
                .form__btn-control-item.sm-hide
                  button.btn.btn_accent Зарегистрироваться
                .form__btn-control-item 
                  p Уже зарегистрированы? 
                    a(href="#") Войти

         
     

    include includes/footer


  include includes/scripts 